# # # # # # # # # # # # # # # # # # # # # # # # # # #
#  _____ _  __     ______  _______  __  __  __     #
# / ____| | \ \   / / __ \|__   __||  \/  | \ \    #
#| (___ | |  \ \_/ / |  | |  | |   | \  / |  \ \   #
# \___ \| |   \   /| |  | |  | |   | |\/| |   > >  #
# ____) | |____| | | |__| |  | |   | |  | |  / /   #
#|_____/|______|_|  \____/   |_|   |_|  |_| /_/    #
#                   S K Y E S X                    #
# # # # # # # # # # # # # # # # # # # # # # # # # # #




# Editable Settings
# -----------------
# You can edit the following:

{{serverEndpoints}}

# Set Tags
sets tags "default, esx, esx legacy, official, roleplay"

# Optional Editable Settings
# --------------------------
# You may edit the following:

sv_licenseKey "{{svLicense}}"
sv_hostname "{{serverName}} | ESX Legacy Server"
sets sv_projectName " {{serverName}} | [{{recipeName}}]"
sets sv_projectDesc "{{recipeDescription}}"
set mysql_connection_string "{{dbConnectionString}}"
load_server_icon esxLogo.png
sv_maxclients {{maxClients}}
sets locale "root-AQ" 
sv_enforceGameBuild 3258
set resources_useSystemChat true

# System Administrators
# ---------------------
# Add system admins

add_principal group.admin group.user
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
{{addPrincipalsMaster}}

# pma-voice Config
# ----------------
setr voice_enableRadioAnim 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

# security-convars
# ----------------
sv_enableNetworkedSounds false
sv_enableNetworkedScriptEntityStates false
sv_enableNetworkedPhoneExplosions false
sv_filterRequestControl 2

# ESX Language (edit to change the language of ESX)
# -----------------------------------------------------------
## Uncomment to set your own locale,
## if not, it will use the language you have selected in txAdmin.
#setr esx:locale "en"

# Default & Standalone Resources
# ------------------------------
ensure chat
ensure hardcap
ensure oxmysql

# ESX Legacy Core
# ----------
ensure [core]

# ESX Addons
# ----------
ensure [standalone]
ensure [esx_addons]



esnure ox_lib
ensure ox_doorlock
ensure ox_inventory
ensure vrs_mdt

## EasyAdmin stuff
setr ea_LanguageName "de"               # set our language to english
setr ea_alwaysShowButtons "false"       # we don't want to see buttons we can't even access, do we? default: "false"
set ea_moderationNotification "false"   # this can be either "false" or a discord webhook address, this will send a discord message if an admin takes actions against a player  ( such as banning and kicking )
set ea_custombanlist "false"            # read docs for this, dont touch it
set ea_enableCallAdminCommand "true"    # enables "calladmin" command via webhook
set ea_enableReportCommand "true"       # enables "report" command, see Configuration Wiki Page for More infos
setr ea_MenuButton "f3"
add_ace group.admin easyadmin allow
ensure EasyAdmin